@page "/perimagemeta"



<h3>PerImageMeta</h3>

<section title="original image">
<img src="https://via.placeholder.com/150" alt="placeholder image" />
</section>
<section title="preview image">
<img src="https://via.placeholder.com/150" alt="placeholder image" />
</section>

<section>
    <section title="metadata">
        <tr>
            <td>name</td>
            <td>value</td>
            <td>type</td>
        </tr>
        <tr>
            <td>name</td>
            <td>value</td>
            <td>type</td>
        </tr>
    </section>
    
    <section title="image processing">
            <tr>
                <td>name</td>
                <td>value</td>
                <td>type</td>
            </tr>
            <tr>
                <td>name</td>
                <td>value</td>
                <td>type</td>
            </tr>
    </section>
    <button>Metadata</button>
    <button>Image Processing</button>
</section>
<section title="buttons">
    <button>cancel</button>
    <button>que for batch</button>
    <button>save</button>
</section>

<!--
    the original image on top


    image result preview below that
    the preview shows the image with the processing options applied, but not saved yet



    then the metadata fields as a tab1
    the metadata as a table, left the name, middle the value, right the type
    if the data is original then the value is already pre-filled
    if the data is new then the value is empty
    if the data is changed a light 'old value' is shown in the background aligned to the right'


    and the image processing options as tab2
    image processing possibilitys:
    - resize
    - crop
    - rotate
    - mirror
    - grayscale
    - blur
    - sharpen
    - brightness
    - contrast
    - gamma
    - invert


    the buttons at the bottom
    - cancel
    - que for batch
    - save

 -->

@code {

}
